{
        margin: 0;
        padding: 0;
        text-indent: 0;
    }

    h1 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 28pt;
    }

    h2 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 18pt;
    }

    .s1 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11.5pt;
        vertical-align: 5pt;
    }

    .s2 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    h3 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 16pt;
    }

    .s3 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 10.5pt;
        vertical-align: 5pt;
    }

    .p,
    p {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
        margin: 0pt;
    }

    .s4 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 7pt;
        vertical-align: 3pt;
    }

    h4 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
    }

    .s5 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    .s6 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 8pt;
        vertical-align: 4pt;
    }

    .s7 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 9pt;
        vertical-align: 4pt;
    }

    .s8 {
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
    }

    .s9 {
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
    }

    .s10 {
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 10pt;
    }

    .s11 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 7pt;
        vertical-align: 3pt;
    }

    .s13 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 2pt;
    }

    .s14 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
    }

    .s15 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 8pt;
        vertical-align: 4pt;
    }

    .s16 {
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    .s17 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    .s18 {
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
    }

    .s19 {
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 9pt;
    }

    li {
        display: block;
    }

    #l1 {
        padding-left: 0pt;
        counter-reset: c1 1;
    }

    #l1>li>*:first-child:before {
        counter-increment: c1;
        content: counter(c1, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 16pt;
    }

    #l1>li:first-child>*:first-child:before {
        counter-increment: c1 0;
    }

    #l2 {
        padding-left: 0pt;
        counter-reset: c2 1;
    }

    #l2>li>*:first-child:before {
        counter-increment: c2;
        content: counter(c1, decimal)"." counter(c2, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
    }

    #l2>li:first-child>*:first-child:before {
        counter-increment: c2 0;
    }

    #l3 {
        padding-left: 0pt;
        counter-reset: d1 1;
    }

    #l3>li>*:first-child:before {
        counter-increment: d1;
        content: counter(d1, decimal)". ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l3>li:first-child>*:first-child:before {
        counter-increment: d1 0;
    }

    #l4 {
        padding-left: 0pt;
        counter-reset: c3 1;
    }

    #l4>li>*:first-child:before {
        counter-increment: c3;
        content: counter(c1, decimal)"." counter(c2, decimal)"." counter(c3, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    #l4>li:first-child>*:first-child:before {
        counter-increment: c3 0;
    }

    #l5 {
        padding-left: 0pt;
    }

    #l5>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l6 {
        padding-left: 0pt;
    }

    #l6>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l7 {
        padding-left: 0pt;
    }

    #l7>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l8 {
        padding-left: 0pt;
        counter-reset: c3 1;
    }

    #l8>li>*:first-child:before {
        counter-increment: c3;
        content: counter(c1, decimal)"." counter(c2, decimal)"." counter(c3, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    #l8>li:first-child>*:first-child:before {
        counter-increment: c3 0;
    }

    #l9 {
        padding-left: 0pt;
        counter-reset: c2 1;
    }

    #l9>li>*:first-child:before {
        counter-increment: c2;
        content: counter(c1, decimal)"." counter(c2, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
    }

    #l9>li:first-child>*:first-child:before {
        counter-increment: c2 0;
    }

    #l10 {
        padding-left: 0pt;
        counter-reset: h1 1;
    }

    #l10>li>*:first-child:before {
        counter-increment: h1;
        content: counter(h1, decimal)". ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l10>li:first-child>*:first-child:before {
        counter-increment: h1 0;
    }

    #l11 {
        padding-left: 0pt;
        counter-reset: c3 1;
    }

    #l11>li>*:first-child:before {
        counter-increment: c3;
        content: counter(c1, decimal)"." counter(c2, decimal)"." counter(c3, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    #l11>li:first-child>*:first-child:before {
        counter-increment: c3 0;
    }

    #l12 {
        padding-left: 0pt;
    }

    #l12>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l13 {
        padding-left: 0pt;
    }

    #l13>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l14 {
        padding-left: 0pt;
    }

    #l14>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l15 {
        padding-left: 0pt;
    }

    #l15>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l16 {
        padding-left: 0pt;
        counter-reset: c4 1;
    }

    #l16>li>*:first-child:before {
        counter-increment: c4;
        content: counter(c1, decimal)"." counter(c2, decimal)"." counter(c3, decimal)"." counter(c4, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
    }

    #l16>li:first-child>*:first-child:before {
        counter-increment: c4 0;
    }

    #l17 {
        padding-left: 0pt;
    }

    #l17>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l18 {
        padding-left: 0pt;
    }

    #l18>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l19 {
        padding-left: 0pt;
    }

    #l19>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l20 {
        padding-left: 0pt;
    }

    #l20>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l21 {
        padding-left: 0pt;
    }

    #l21>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l22 {
        padding-left: 0pt;
    }

    #l22>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l23 {
        padding-left: 0pt;
    }

    #l23>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l24 {
        padding-left: 0pt;
    }

    #l24>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l25 {
        padding-left: 0pt;
    }

    #l25>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l26 {
        padding-left: 0pt;
    }

    #l26>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l27 {
        padding-left: 0pt;
    }

    #l27>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l28 {
        padding-left: 0pt;
    }

    #l28>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l29 {
        padding-left: 0pt;
    }

    #l29>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l30 {
        padding-left: 0pt;
    }

    #l30>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l31 {
        padding-left: 0pt;
    }

    #l31>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l32 {
        padding-left: 0pt;
    }

    #l32>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l33 {
        padding-left: 0pt;
    }

    #l33>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l34 {
        padding-left: 0pt;
    }

    #l34>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l35 {
        padding-left: 0pt;
    }

    #l35>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l36 {
        padding-left: 0pt;
    }

    #l36>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l37 {
        padding-left: 0pt;
    }

    #l37>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l38 {
        padding-left: 0pt;
    }

    #l38>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l39 {
        padding-left: 0pt;
    }

    #l39>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l40 {
        padding-left: 0pt;
    }

    #l40>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l41 {
        padding-left: 0pt;
    }

    #l41>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l42 {
        padding-left: 0pt;
    }

    #l42>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l43 {
        padding-left: 0pt;
    }

    #l43>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l44 {
        padding-left: 0pt;
        counter-reset: c3 1;
    }

    #l44>li>*:first-child:before {
        counter-increment: c3;
        content: counter(c1, decimal)"." counter(c2, decimal)"." counter(c3, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    #l44>li:first-child>*:first-child:before {
        counter-increment: c3 0;
    }

    #l45 {
        padding-left: 0pt;
        counter-reset: c4 1;
    }

    #l45>li>*:first-child:before {
        counter-increment: c4;
        content: counter(c1, decimal)"." counter(c2, decimal)"." counter(c3, decimal)"." counter(c4, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
    }

    #l45>li:first-child>*:first-child:before {
        counter-increment: c4 0;
    }

    #l46 {
        padding-left: 0pt;
    }

    #l46>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l47 {
        padding-left: 0pt;
    }

    #l47>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l48 {
        padding-left: 0pt;
    }

    #l48>li>*:first-child:before {
        content: "o ";
        color: black;
        font-family: "Courier New", monospace;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l49 {
        padding-left: 0pt;
    }

    #l49>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Wingdings;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    #l50 {
        padding-left: 0pt;
        counter-reset: c4 1;
    }

    #l50>li>*:first-child:before {
        counter-increment: c4;
        content: counter(c1, decimal)"." counter(c2, decimal)"." counter(c3, decimal)"." counter(c4, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
    }

    #l50>li:first-child>*:first-child:before {
        counter-increment: c4 0;
    }

    li {
        display: block;
    }

    #l51 {
        padding-left: 0pt;
    }

    #l51>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    li {
        display: block;
    }

    #l52 {
        padding-left: 0pt;
        counter-reset: l1 5;
    }

    #l52>li>*:first-child:before {
        counter-increment: l1;
        content: counter(l1, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 16pt;
    }

    #l52>li:first-child>*:first-child:before {
        counter-increment: l1 0;
    }

    #l53 {
        padding-left: 0pt;
        counter-reset: l2 1;
    }

    #l53>li>*:first-child:before {
        counter-increment: l2;
        content: counter(l1, decimal)"." counter(l2, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 14pt;
    }

    #l53>li:first-child>*:first-child:before {
        counter-increment: l2 0;
    }

    #l54 {
        padding-left: 0pt;
        counter-reset: l3 1;
    }

    #l54>li>*:first-child:before {
        counter-increment: l3;
        content: counter(l1, decimal)"." counter(l2, decimal)"." counter(l3, decimal)" ";
        color: black;
        font-family: Calibri, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
    }

    #l54>li:first-child>*:first-child:before {
        counter-increment: l3 0;
    }

    li {
        display: block;
    }

    #l55 {
        padding-left: 0pt;
    }

    #l55>li>*:first-child:before {
        content: " ";
        color: black;
        font-family: Symbol, serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
    }

    table,
    tbody {
        vertical-align: top;
        overflow: visible;
    }